<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizza</title>
	<link rel="stylesheet" href="pizza.css">
</head>

<body>
	<div class="wrapper">
		<div class="container" id="app">
			<!-- <div id="type-blocks">
			<type-block v-for="type in types" :key="types.id" title="2">her</type-block>
		</div> -->
			<header class="header">
				<!-- Если что, то не basCet, а basKet -->
				<div class="header__bascet">
					<button
						class="header__bascet-button"
						@click='isOpenCart = !isOpenCart'
					>
						Корзина: {{ cartCounter }}
					</button>
					<div
						v-if="isOpenCart"
						class="header__bascet-list"
					>
						<div
							v-for="(product, i) in cart"
							:key="i"
							class="header__bascet-card"
						>
							<div>
								<img
									class="header__bascet-card-img"
									:src="product.img"
									:alt="product.title"
								>
							</div>
							<div class="header__bascet-card-title">
								{{ product.title }} -
								{{ product.size }}см.
								({{ product.counter }} шт.) -
								{{ product.total }}
							</div>
							<button
								class="header__bascet-card-button"
							  	@click="removeFromCart(product)"
							>
								Удалить
							</button>
						</div>
					</div>
				</div>
			</header>

			<div class="delivery">
				<h1 class="delivery__title">Доставка пиццы</h1> <!-- Используй теги заголовков для таких вещей -->
			</div>

			<div class="grid-template-pizza">
				<!-- Добавляй аттрибут key для итерируемых объектов, почитай про это в документации -->
				<div
					class="grid-template-pizza__item"
					v-for="(pizza, i) in products"
					:key="i"
				>
					<img
						:src="pizza.img"
						:alt="pizza.title"
						class="grid-template-pizza"
					>
					<div class="grid-template-pizza__title-info">
						<!-- Не оборачивай div тегом button, это семантически неправильно, почитай про семантику -->
						<div class="grid-template-pizza__title">{{ pizza.title }}</div>
						<!-- <div class="grid-template-pizza__info2"> -->

							<!-- Это также можно добавить в обьект продукта в виде массива, но я это делать не буду -->

							<!-- <div class="grid-template-pizza__info-arrow"></div> -->
							<!-- Пищевая ценность на 100 г <br> -->
							<!-- Энерг. ценность <span class="right">236.8 ккал</span><br> -->
							<!-- Белки <span class="right">10.7 г </span><br> -->
							<!-- Жиры <span class="right">9.6 г</span><br> -->
							<!-- Углеводы<span class="right">26.9 г</span> <br> -->
							<!-- Вес <span class="right">411 г</span><br> -->
						<!-- </div> -->
					</div>
					<div class="grid-template-pizza__text">{{ pizza.description }}</div>
					<div class="grid-template-pizza__checkboxs">
						<div class="grid-template-pizza__checkbox">
							<label>
								<input
									type="radio"
									:name="`size${pizza.id}`"
									v-bind:checked="pizza.size === SMALL_SIZE"
									@change="calculateProductPrice(pizza.id, SMALL_SIZE)"
								>
								25 см
							</label>
							<!-- Тут нужно добавить @change и добавить функцию changeProductSize(pizza.id, SMALL_SIZE) -->
							<!-- Для input, затем по id ищёшь в products пиццу и меняешь её размер -->
						</div>
						<div class="grid-template-pizza__checkbox">
							<label>
								<input
									type="radio"
									:name="`size${pizza.id}`"
									v-bind:checked="pizza.size === MIDDLE_SIZE"
									@change="calculateProductPrice(pizza.id, MIDDLE_SIZE)"
								>
								30 см
							</label>
							<!-- Тут нужно добавить @change и добавить функцию changeProductSize(pizza.id, MIDDLE_SIZE) -->
							<!-- Для input, затем по id ищёшь в products пиццу и меняешь её размер -->
						</div>
						<div class="grid-template-pizza__checkbox">
							<label>
								<input
									type="radio"
									:name="`size${pizza.id}`"
									v-bind:checked="pizza.size === LARGE_SIZE"
									@change="calculateProductPrice(pizza.id, LARGE_SIZE)"
								>
								35 см
							</label>
							<!-- Тут нужно добавить @change и добавить функцию changeProductSize(pizza.id, LARGE_SIZE) -->
							<!-- Для input, затем по id ищёшь в products пиццу и меняешь её размер -->
						</div>
					</div>
					<div class="grid-template-pizza__type">
						<!-- Зачем тут type="submit"? Submit нужен для отправки форм и я не понял зачем эта кнопка -->
						<!-- <button type="submit" class="grid-template-pizza__type-button">Пышное тесто</button> -->
						<div class="grid-template-pizza__type-button check-div">
							<label class="radio-label">
								<input
									class="grid-template-pizza__type-checkbox"
									:name="`dough${pizza.id}`"
									type="radio"
									v-bind:checked="pizza.dough === FLUFFY_DOUGH_TYPE"
									@change="calculateProductPrice(pizza.id, pizza.size)"
								>
								<!-- Тоже самое нужно добавить слушателя и изменять тип теста для пиццы -->
								<span class="check-style check-style1">Пышное тесто</span>
								<!-- Зачем испольуешь span? Используй label, чтоб текст был кликабельный -->
							</label>
							<label class="radio-label">
								<input
									class="grid-template-pizza__type-checkbox"
									:name="`dough${pizza.id}`"
									type="radio"
									v-bind:checked="pizza.dough === THIN_DOUGH_TYPE"
									@change="calculateProductPrice(pizza.id, pizza.size)"
								>
								<span class="check-style">Tонкое</span>
							</label>
						</div>
					</div>
					<div class="grid-template-pizza__cost-button">
						<div class="grid-template-pizza__cost">
							<button
								type="button"
								@click="addToCart(pizza.id)"
							>
								{{ pizza.totalPrice }}
								₽
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="https://unpkg.com/vue@next"></script>
		<script src="pizza.js"></script>
	</div>

</body>

</html>
